<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PongServer.Properties.Settings.PongConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Pong;Persist Security Info=True;User ID=Pong;Password=abc123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>